*{ 
margin: 0px;
padding: 0px;
box-sizing: border-box;
}

html, body{
height: 100%;
width: 100%;
}

main{
    height: 100%;
    width: 100%;
    background-color: #fbfbfb;
    padding: 0% 4vw;
    font-family: Arial, Helvetica, sans-serif;
}

/* SECTION 1======================================================= */  

nav{
    height: 9%;
    width: 100%;
    /* padding: 10px 20px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .header{
    display: flex;
    align-items: center;
    gap: 10px;
}

.header i{
    font-size: 28px;
}

.header h1{
    font-size: 30px;
}

.links{
    display: flex;
    gap: 15px;
    width: 60%;
    justify-content: center;
}

.links a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.btn{
    display: flex;
    gap: 15px;    
}

button{
    padding: 12px 15px;
    border: none;
    border-radius: 20px;
    background-color: rgb(218, 218, 218);
}

button:nth-child(2n){
    background-color: black;
    color: white;
}




.hero-div{
    height: 100%;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    display: flex;
    overflow: hidden;
    
}

.hero-div .left{
    height: 100%;
    width: 40%;
    padding: 5vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.ratings{
    height: 15%;
    width: 40%;
    background-color: white;
    border-radius: 60px;
    padding: 7px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.ratings i{
    font-size: larger;
}

.ratings h4{
    font-weight: 500;
}


.ratings span{
    font-size: small;
    color: rgb(158, 158, 158);
}

.hero-head{
    height: 70%;
    width: 100%;
    margin: 4% 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}


.hero-heading{
    font-size: 70px;
    font-weight: 500;
}

.hero-bottom{
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.hero-bottom .heading{
    font-size: 13px;
    color: rgb(158, 158, 158);
}


.brands{
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.brands img{
    width: 100px;
}




.hero-div .right{
    height: 100%;
    width: 60%;   
    padding: 4.5vh 4.5vh 4.5vh 0vh;
    /* padding: 4vh 2vh; */
    
}

.right-div{
    height: 100%;
    border-radius: 15px;
    overflow: hidden;
}

.right img{
    height: 100%;
    transform: translateX(-30%); 
}


/* SECTION 1 END======== */


/* SECTION 2============================================== */

#section-2{
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    height: 60%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.s2-div{
    height: 85%;
    width: 49%;
    display: flex;
    justify-content: space-between;
}
.s2-div .box{
    height: 100%;
    width: 48%;
    overflow: hidden;
    position: relative;
}
.s2-div .box img{
    height: 90%;
    width: 100%;
    border-radius: 15px;
}
.box div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.favbtn{
    height: 10%;
    width: 10%;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 4%;
    left: 85%;
}
.favbtn i{
    font-size: 20px;
    position: absolute;
    left: 14%;
    top: 13%;
}

.box div h6{
    color: rgb(143, 143, 143);
}

.r{
    border-radius: 15px;
    background-color: rgb(243, 243, 243);
    padding: 4vh;
}

.boxx{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.boxx div{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.r .boxx h6{
    color: rgb(143, 143, 143);
}

.r h2{
    font-size: 20px;
    font-weight: 600;
}


.icon-btn{
    text-decoration: none;
    font-size: 15px;
    color: black;
}

.icon-btn i{
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    padding: 1px;
    color: white;
    background-color: black;
}


.r img{
    margin-left: 3vh;
    height: 100%;
    width: 50%;
    border-radius: 15px;
}


#section-3{
    height: 100%;
    /* max-height: 150%; */
    width: 100%;

}
.s3-head{
    height: 20%;
    width: 100%;
}
.s3-head h4{
    color: rgb(143, 143, 143);
    text-align: center;
}
.s3-head h1{
    font-size: 75px;
    font-weight: 500;
    text-align: center;
}

.sec3{
    height: 100%;
    width: 100%;
}

.sec3 .sec3-top{
    height: 15%;
    width: 100%;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.sec3-top div{
    height: 65%;
    width: 23%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    background-color: white;
}

.sec3-bottom{
    margin-top: 2%;
    height: 120%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3%;  
}

.sec3-bottom .s3box{
    height: 47%;
    width: 100%;
    border-radius: 15px;
    background-color: rgb(243, 243, 243);
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.s3cards{
    height: 85%;
    width: 22%;
    border-radius: 15px;
}

.c2{
    width: 25%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.c2 div{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}


.c2, .c3-upper h6{
    color: rgb(143, 143, 143);
}
.c2 h2{
    font-size: 20px;
    font-weight: 600;
    color: black;
}


.s3box img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}



.c3, .c4{
    background-color: white;
    padding: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.c4{
    justify-content: space-evenly;
}


.c3-upper{
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.c3-lower{
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}
.c3-lower p{
    color:  rgb(143, 143, 143);
}


.facilities{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}
.facilities h4{
    font-size: 16px;
    font-weight: 500;
}

.c4 i{
    font-size: 22px;
}

.s3btn{
    background-color: black;
    padding: 2.25vh;
    color: white;
}